# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.o
*.lib
*.a

# Executables
*.exe
test
webcamtest
imageclipper
convert_cassade
createsamples
haartraining
performance
vec2img
gaTesting
C920VideoCap
iteration_data.dat
*.stackdump

# Metadata
*.aliases
*.lvlps

# backup files
*~
*.bak
*.sw[op]

# Cmake stuff
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile

*.avi
